---
import Typography from '@atoms/Typography.astro'
import TestimonialsList from '../organisms/TestimonialsList.astro'
---

<article class="m-auto mt-5 flex w-[800px] max-w-[calc(100%-2rem)] flex-col gap-5">
  <div class="flex flex-col items-center justify-center gap-4 px-8 py-4">
    <TestimonialsList />

    <section class="md:hidden">
      <Typography as="h4" color="black" variant="body" class="font-medium">
        we build the product of your dreams
      </Typography>
      <Typography as="h4" color="black" variant="medium" class="font-extralight">
        Work with professionals in the field of technology product design to achieve your ideal results.
      </Typography>
    </section>

    <button class="mt-5 w-full max-w-72 rounded-lg bg-purple py-1">
      <Typography as="label" variant="bodyExtraLight" color="white"> Contact Us </Typography>
    </button>

    <Typography as="h2" variant="title" color="black" class="hidden text-center md:block">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </Typography>
  </div>
</article>
