---
import Typography from '@atoms/Typography.astro'
import TestimonialsList from '../organisms/TestimonialsList.astro'
---

<article class="flex flex-col items-center justify-center gap-4">
  <TestimonialsList />

  <section>
    <Typography as="h4" color="black" variant="body" class="font-medium">
      we build the product of your dreams
    </Typography>
    <Typography as="h4" color="black" variant="medium" class="font-extralight">
      Work with professionals in the field of technology product design to achieve your ideal results.
    </Typography>
  </section>

  <button class="w-full max-w-72 rounded-lg bg-purple py-1">
    <Typography as="label" variant="bodyExtraLight" color="white"> Contact Us </Typography>
  </button>
</article>
