---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/templates/Hero.astro'
---

<Layout title="Lagoon Studios" description="">
  <main>
    <Hero />
  </main>
</Layout>

<style>
  main {
    @apply mt-20;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
