---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/templates/Hero.astro'
import Testimonials from '../components/templates/Testimonials.astro'
---

<Layout title="Lagoon Studios" description="">
  <main class="m-auto w-[800px] max-w-[calc(100%-2rem)] p-4 flex flex-col gap-5">
    <Hero />
    <Testimonials />
  </main>
</Layout>
