---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/templates/Hero.astro'
import Testimonials from '../components/templates/Testimonials.astro'
import Services from '@templates/Services.astro'
import Projects from '@templates/Projects.astro'
import Contact from '@templates/Contact.astro'
import Header from '@templates/Header.astro'
---

<Layout title="Lagoon Studios" description="">
  <main>
    <Header />
    <div class="">
      <Hero />
      <Testimonials />
      <Services />
      <Projects />
    </div>

    <Contact />
  </main>
</Layout>
