---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/templates/Hero.astro'
import Testimonials from '../components/templates/Testimonials.astro'
import Services from '@templates/Services.astro'
import Projets from '@templates/Projets.astro'
import Contact from '@templates/Contact.astro'
---

<Layout title="Lagoon Studios" description="">
  <main>
    <div class="m-auto flex w-[800px] max-w-[calc(100%-2rem)] flex-col gap-5 p-4">
      <Hero />
      <Testimonials />
      <Services />
      <Projets />
    </div>

    <Contact />
  </main>
</Layout>
