---
import Typography from "@atoms/Typography.astro"

const PROJECTS = [
  {
    icon: '/images/veriti-logo.svg',
    iconAlt: 'veriti',
  },
  {
    icon: '/images/latrik-logo.svg',
    iconAlt: 'latrik',
  },
  {
    icon: '/images/todos-a-merida-logo.svg',
    iconAlt: 'todos a merida',
  },
  {
    icon: '/images/ticket-scan-logo.svg',
    iconAlt: 'ticket scan',
  },
  {
    icon: '/images/repensar-logo.svg',
    iconAlt: 'repensar',
  },
]
---

<div class="grid grid-cols-1 md:grid-cols-4">
  <!-- Slider main container -->
  <div class="swiper md:col-span-3">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {PROJECTS.map(({ icon, iconAlt }) => <img alt={iconAlt} src={icon} class="swiper-slide w-3" />)}
    </div>
  </div>
  <div class="bg-green hidden md:block text-center px-7 h-96">
    <Typography as="h2" variant="title" color="black" class="hidden text-center md:block">
      Lorem ipsum dolor sit amet
    </Typography>
  </div>
</div>

<style>
  .swiper {
    width: 100%;
    max-width: 400px;

    max-height: 400px;
  }

  .swiper-slide {
    color: white;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
</style>

<script>
  import Swiper from 'swiper'
  import 'swiper/css'

  new Swiper('.swiper', {
    loop: false,
    slidesPerView: 5,
  })

  function handleColorGradient() {
    let opacity = 1
    const opacityDecrement = 0.1
    const elements = document.querySelectorAll<HTMLDivElement>('.swiper-slide')

    for (const element of elements) {
      element.style.backgroundColor = `rgba(23, 96, 236, ${opacity})`
      opacity -= opacityDecrement
    }
  }

  handleColorGradient()
</script>
