---
import '@fontsource/poppins/200.css' // extraThin
import '@fontsource/poppins/400.css' // regular
import '@fontsource/poppins/600.css' //semibold

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light;
  }
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }
  body {
    background-color: #ebf0f8;
  }
</style>
